@import "tailwindcss";

@theme {
 --font-poppins: "Poppins", sans-serif; 
}

.container {
    @apply max-w-290.5 mx-auto
}

.flex {
    @apply flex items-center 
}

.logo {
    @apply cursor-pointer 
}
.menuli {
    @apply text-[#1B2336] text-[16px] font-poppins font-light mr-4  hover:font-bold duration-200 cursor-pointer
}


/* Benner Part */

.bennerh1 {
    @apply text-[#203239] font-semibold font-poppins text-[56px]  w-194.25
}
.bennerp {
    @apply text-[#203239] font-light font-poppins text-[16px]  w-136 opacity-55 pt-6 pb-19.5
}


.bannerSearch {
     @apply flex py-3.75 px-8.75 bg-white w-127 rounded-[15px] text-[#203239] opacity-55 text-base font-poppins outline-none relative
}

.bennerBtn{
    @apply cursor-pointer  text-[#203239] opacity-55 bg-white w-34.5 py-3.75 px-3.5 rounded-[15px]
}


