@import "tailwindcss";

@theme {
 --font-poppins: "Poppins", sans-serif; 
 --shadow-div: 0px 1px 21px 6px rgba(0,0,0,0.10);
}

.container {
    @apply max-w-290.5 mx-auto
}

.flex {
    @apply flex items-center 
}

.logo {
    @apply cursor-pointer 
}
.menuli {
    @apply text-[#1B2336] text-[16px] font-poppins font-light mr-4  hover:font-bold duration-200 cursor-pointer relative 
}
.afterLi{
   @apply  after:content-[''] after:absolute after:bottom-0 after:left-1/2 after:-translate-x-1/2 after:w-0 after:h-[3px] after:bg-[#F6762E] after:transition-all after:duration-400 hover:after:w-[60%]
}




/* Benner Part */

.bennerh1 {
    @apply text-[#203239] font-semibold font-poppins text-[56px]  w-194.25
}
.bennerp {
    @apply text-[#203239] font-light font-poppins text-[16px]  w-136 opacity-55 pt-6 pb-19.5
}


.bannerSearch {
     @apply flex py-3.75 px-8.75 bg-white w-127 rounded-[15px] text-[#203239] opacity-55 text-base font-poppins outline-none relative
}

.bennerBtn{
    @apply cursor-pointer  text-[#203239] opacity-55 bg-white w-34.5 py-3.75 px-3.5 rounded-[15px]
}


/* Service Part */
.srevice{
    @apply w-75 p-6 relative  duration-300 border border-transparent hover:border hover:border-[#EEEDDE] hover:rounded-[10px] 
}
.sreviceText{
    @apply flex justify-between before:content-[''] before:absolute before:left-0 before:w-1.5 before:h-7 before:bg-[#FF7527] before:rounded-full 
}

.ServiceTextp{
    @apply pt-2 pb-12 text-base font-medium text-[#203239] opacity-55
}

/* Favorit Part  */

.favorith3{
    @apply text-4xl text-[#203239] font-semibold w-126.75
}
.favoritp{
    @apply text-base text-[#203239] font-light w-142.5 pt-6 pb-12
}
.favoritBtn{
    @apply py-3.25 px-10 border rounded-[10px] hover:bg-black hover:text-white duration-300
}


